[submodule "KaaS/Elastic Kubernetes Service(EKS)/Terraform/vertical-pod-autoscaler/vpa"]
	path = KaaS/Elastic Kubernetes Service(EKS)/Terraform/vertical-pod-autoscaler/vpa
	url = https://github.com/kubernetes/autoscaler/
